<!-- Modal dialogue -->
<div id="wrModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span id="wrModalClose">&times;</span>
      <span>&nbsp;</span>
    </div>
    <p>Wiki-Randomizer is an application that extends Wikimedia's random article functionality, 
        allowing you to specify a set of languages and wikisites to randomly
        choose from.  
        <br/> <br/>The app will first choose a random language, and then a random
        site, and finally retrieve a random article from that language/site combo. <br/><br/>
        If you do not select any languages and/or sites, your random articles will be
        chosen from all of the valid language/site combinations.  </p>
  </div>

</div>


<div class="top" style="height: 80px; width: 100%">
  <div style="float:left; width: 14%; line-height: 80px; text-align: center">     
    <button class="topRowButton" (click)="displayAppInfo();">What is this thing?</button>
  </div>
  <div style="float:left; width: 30%; line-height: 80px; text-align: center">     
    <span class="titleText">Wiki-Randomizer</span>
  </div>
  <div style="float:left; width: 14%; line-height: 80px; text-align: center">     
    <button class="topRowButton" (click)="toggleSiteChooser();">{{ sitesButtonText }}</button>
  </div>
  <div style="float:left; width: 14%; line-height: 80px; text-align: center">     
    <button class="topRowButton" (click)="toggleLanguageChooser();">{{ languagesButtonText }}</button>
  </div>
  <div style="float:left; width: 10%; line-height: 80px; text-align: center">     
    <button class="topRowButton" (click)="articleBlock.updateDisplayURL(getRandomURL());">Go!</button>
  </div>
  <div style="float:left; width: 18%; line-height: 20px; text-align: center">     
      <span class="urlDisplay"><br/>{{ currentLanguage }}<br/>{{ currentSite }}</span>
  </div>
</div>
  






<hr/>
<div [style.display]="siteChooserDisplay">
    <app-site-selection-block #sitesBlock></app-site-selection-block>
</div>

<hr/>
<div [style.display]="languageChooserDisplay">
    <app-language-selection-block #languagesBlock></app-language-selection-block>
</div>

<app-article-viewing-block #articleBlock></app-article-viewing-block>
